stages:
  - test
  - build
  - push

variables:
  DOCKER_REGISTRY: registry.gitlab.com
  PROJECT_NAME: tetra_project/tetra_test
  BACKEND_IMAGE: $DOCKER_REGISTRY/${PROJECT_NAME}-backend:latest
  FRONTEND_IMAGE: $DOCKER_REGISTRY/${PROJECT_NAME}-frontend:latest


test_backend:
  stage: test
  script:
    - echo "Running tests for backend"
    - cd backend
    - ./gradlew test --no-daemon
  artifacts:
    when: always
    reports:
      junit: backend/build/test-results/test/TEST-*.xml


test_frontend:
  stage: test
  script:
    - echo "Running tests for frontend"
    - cd frontend
    - npm install
    - npm test -- --watchAll=false


build_and_push_backend:
  stage: push
  needs:
    - job: test_backend
      artifacts: false
  script:
    - echo "Building backend Docker image"
    - docker build -t $BACKEND_IMAGE ./backend
    - echo $CI_JOB_TOKEN | docker login -u $CI_REGISTRY_USER --password-stdin $DOCKER_REGISTRY
    - docker push $BACKEND_IMAGE

build_and_push_frontend:
  stage: push
  needs:
    - job: test_frontend
      artifacts: false
  script:
    - echo "Building frontend Docker image"
    - docker build -t $FRONTEND_IMAGE ./frontend
    - echo $CI_JOB_TOKEN | docker login -u $CI_REGISTRY_USER --password-stdin $DOCKER_REGISTRY
    - docker push $FRONTEND_IMAGE
