stages:
  - test

variables:
  DOCKER_REGISTRY: registry.gitlab.com
  PROJECT_PATH: tetra_project/tetra_app
  BACKEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/backend:latest
  FRONTEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/frontend:latest

# Backend tests
test_backend:
  image: gradle:8.14-jdk24
  stage: test
  script:
    - echo "Running backend tests"
    - cd backend
    - chmod +x gradlew
    - ./gradlew test --no-daemon
  artifacts:
    when: always
    reports:
      junit: backend/build/test-results/test/TEST-*.xml

# Frontend tests
test_frontend:
  image: node:20
  stage: test
  script:
    - echo "Running frontend tests"
    - cd frontend
    - npm install
    - npm test
