variables:
  DOCKER_REGISTRY: registry.gitlab.com
  PROJECT_PATH: tetra_project/tetra_app
  IMAGE_TAG: ${CI_COMMIT_REF_SLUG}
  BACKEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/backend:$IMAGE_TAG
  FRONTEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/frontend:$IMAGE_TAG
  VITE_BACKEND_URL: "http://65.21.51.239:32000"

stages:
  - test
  - build
  - push

test_backend:
  image: gradle:8.14.1-jdk24
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  script:
    - echo "Running backend tests"
    - cd backend
    - chmod +x gradlew
    - ./gradlew test --no-daemon
  artifacts:
    when: always
    reports:
      junit: backend/build/test-results/test/TEST-*.xml

test_frontend:
  image: node:24.0.0
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  script:
    - echo "Running frontend tests"
    - cd frontend
    - npm ci
    - mkdir -p test-results
    - npx vitest run --reporter=verbose --reporter=junit --outputFile.junit=dist/test-results/junit.xml
  artifacts:
    when: always
    reports:
      junit: frontend/dist/test-results/junit.xml

check_prettier:
  image: node:24.0.0
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  script:
    - echo "Checking Prettier formatting"
    - cd frontend
    - npm ci
    - npm run format
    - git diff --exit-code
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH != "main"

build_frontend:
  image: node:20
  stage: build
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs: [test_frontend]
  script:
    - echo "Building frontend"
    - cd frontend
    - echo "VITE_BACKEND_URL=$VITE_BACKEND_URL" > .env.production
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_backend:
  image: gradle:8.14.1-jdk24
  stage: build
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs: [test_backend]
  script:
    - cd backend
    - chmod +x gradlew
    - ./gradlew clean bootJar --no-daemon
  artifacts:
    paths:
      - backend/build/libs/*.jar
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_and_push_backend:
  image: docker:28.2.1
  stage: push
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs:
    - job: build_backend
      optional: true
  script:
    - echo "Building backend Docker image"
    - echo "$DEPLOY_TOKEN" | docker login -u "$DEPLOY_USER" --password-stdin $DOCKER_REGISTRY
    - docker buildx create --use || true
    - docker buildx build --platform linux/amd64 -t $BACKEND_IMAGE ./backend --push
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_and_push_frontend:
  image: docker:28.2.1
  stage: push
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs:
    - job: build_frontend
      optional: true
  script:
    - echo "Building frontend Docker image:"
    - echo "$DEPLOY_TOKEN" | docker login -u "$DEPLOY_USER" --password-stdin $DOCKER_REGISTRY
    - docker buildx create --use || true
    - docker buildx build --platform linux/amd64 -t $FRONTEND_IMAGE ./frontend --push
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'