variables:
  DOCKER_REGISTRY: registry.gitlab.com
  PROJECT_PATH: tetra_project/tetra_app
  IMAGE_TAG: ${CI_COMMIT_REF_SLUG}
  BACKEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/backend:$IMAGE_TAG
  FRONTEND_IMAGE: $DOCKER_REGISTRY/$PROJECT_PATH/frontend:$IMAGE_TAG
  VITE_BACKEND_URL: "http://65.21.51.239:32000"

stages:
  - test
  - build
  - push
  - deploy

test_backend:
  image: gradle:8.14.1-jdk24
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  cache:
    key: gradle-cache
    paths:
      - backend/.gradle/
  script:
    - set -e
    - echo "Running backend tests"
    - cd backend
    - chmod +x gradlew
    - ./gradlew test --no-daemon --parallel
  artifacts:
    when: always
    reports:
      junit: backend/build/test-results/test/TEST-*.xml

test_frontend:
  image: node:24.0.0
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  cache:
    key: npm-cache
    paths:
      - frontend/node_modules/
  script:
    - set -e
    - echo "Running frontend tests"
    - cd frontend
    - npm ci
    - mkdir -p test-results
    - npx vitest run --threads --reporter=verbose --reporter=junit --outputFile.junit=dist/test-results/junit.xml
  artifacts:
    when: always
    reports:
      junit: frontend/dist/test-results/junit.xml

check_prettier:
  image: node:24.0.0
  stage: test
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  cache:
    key: npm-cache
    paths:
      - frontend/node_modules/
  script:
    - set -e
    - echo "Checking Prettier formatting"
    - cd frontend
    - npm ci
    - npm run format
    - git diff --exit-code
  rules:
     - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_frontend:
  image: node:20
  stage: build
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs: [test_frontend]
  cache:
    key: npm-cache
    paths:
      - frontend/node_modules/
  script:
    - set -e
    - echo "Building frontend"
    - cd frontend
    - echo "VITE_BACKEND_URL=$VITE_BACKEND_URL" > .env.production
    - npm ci
    - npm run build -- --maxWorkers=4
  artifacts:
    paths:
      - frontend/dist/
  rules:
     - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_backend:
  image: gradle:8.14.1-jdk24
  stage: build
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs: [test_backend]
  cache:
    key: gradle-cache
    paths:
      - backend/.gradle/
  script:
    - set -e
    - cd backend
    - chmod +x gradlew
    - ./gradlew clean bootJar --no-daemon --parallel
  artifacts:
    paths:
      - backend/build/libs/*.jar
  rules:
     - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_and_push_backend:
  image: docker:28.2.1
  stage: push
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs:
    - job: build_backend
      optional: true
  script:
    - set -e
    - echo "Building backend Docker image"
    - echo "$DEPLOY_TOKEN" | docker login -u "$DEPLOY_USER" --password-stdin $DOCKER_REGISTRY
    - docker buildx create --use || true
    - docker buildx build --platform linux/amd64 -t $BACKEND_IMAGE ./backend --push
  rules:
    - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

build_and_push_frontend:
  image: docker:28.2.1
  stage: push
  services:
    - docker:28.2.1-dind
  tags: ["Docker"]
  needs:
    - job: build_frontend
      optional: true
  script:
    - set -e
    - echo "Building frontend Docker image:"
    - echo "$DEPLOY_TOKEN" | docker login -u "$DEPLOY_USER" --password-stdin $DOCKER_REGISTRY
    - docker buildx create --use || true
    - docker buildx build --platform linux/amd64 -t $FRONTEND_IMAGE ./frontend --push
  rules:
    - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'

trigger_rancher_update:
  stage: deploy
  image: alpine/k8s:1.28.0
  tags: ["Docker"]
  needs:
    - job: build_and_push_backend
    - job: build_and_push_frontend
  script:
    - set -e
    - |
      cat <<EOF > kubeconfig.yaml
      apiVersion: v1
      kind: Config
      clusters:
      - name: "local"
        cluster:
          server: "https://65.21.51.239.nip.io/k8s/clusters/local"
          insecure-skip-tls-verify: true
      users:
      - name: "local"
        user:
          token: "$KUBECONFIG_TOKEN"
      contexts:
      - name: "local"
        context:
          user: "local"
          cluster: "local"
      current-context: "local"
      EOF
    - export KUBECONFIG=$(pwd)/kubeconfig.yaml
    - kubectl config current-context
    - kubectl cluster-info
    - echo "Restarting backend and frontend deployments..."
    - kubectl rollout restart deployment/backend -n default
    - kubectl rollout restart deployment/frontend -n default
  rules:
    - if: '$CI_COMMIT_BRANCH == "testPi" || $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+$/'