version: "3.8"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080" # Maps host port 8080 to container port 8080
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80" # Maps host port 3000 to container port 80
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
    restart: unless-stopped